@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 0 2rem;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0;
  width: 100%;
  z-index: 100;
  flex-shrink: 0;
}

.header-top {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.logo {
  height: 200px;
  background: url('../image/HomeChef-Logo.jpg') no-repeat center;
}

.header-middle {
  background-image: url('../image/Background.png');
  background-size: contain;
}

.header-middle h1 {
  font-weight: 200;
  font-family: 'Average', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

footer p {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.header-middle p {
  font-size: 3rem;
  font-weight: bold;
  color: #667eea;
  font-family: 'Allison', sans-serif;
}

ul {
  list-style: none;
}

li a {
  padding-right: 2rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.pt-2 li a {
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: bold;
  color: black;
  font-family: 'Allison', sans-serif;
  text-decoration: none;
}

.pt-2 li a:hover {
  color: #667eea;
  transition: all ease 0.3s;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.bg-indigo {
  background-color: #667eea;
}

.bg-gray {
  background-color: #f5f5f5;
}

/* meal-list */
img {
  width: 100%;
}

.meal {
  width: 90%;
}

.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meal-list li {
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.likes {
  text-align: end;
}

.comments {
  padding: 0.7rem;
  background-color: #667eea;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  border: #667eea 2px solid;
}

.comments:hover {
  background-color: #eaeaea;
  color: #667eea;
  transition: all ease 0.3s;
}

#modal {
  padding: 2rem 0;
}

.fa-heart {
  color: #aaa7a7;
}

.fa-heart.active {
  color: rgb(128, 0, 0);
}

i {
  cursor: pointer;
}

.justify-end {
  justify-content: end;
}

/* modal */
.modal {
  width: 85vw;
  min-height: 100vh;
  border: #6d8347 2px solid;
  padding: 1rem;
}

.modal h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.modal-header-img {
  align-items: center;
  flex-direction: column;
}

.modal-header-img img {
  width: 500px;
  height: 500px;
}

.recipe-instrruction {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
}

.description-header {
  font-weight: bolder;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.submit-comment {
  border: 1px solid #6d8347;
  background-color: #6d8347;
  color: #fff;
  padding: 0.5rem 2rem;
}

.submit-comment,
#input-name,
#comment {
  border: 1px solid #6d8347;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #6d8347;
}

#comments-ul {
  padding: 0;
}

#comments-ul li {
  width: 40%;
  text-align: start;
  align-self: center;
}

#comments-ul li p {
  margin: 0.2rem;
}

#alert {
  text-align: start;
  margin-bottom: 0.5rem;
}

.fa-heart:active {
  transform: translateY(4px);
  transition: all ease 0.3s;
}

.fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.left,
.right {
  width: 50%;
}

.close {
  border: none;
  font-size: 2rem;
  background: transparent;
}

.visible {
  display: block;
}

.hidden {
  display: none !important;
}

/* about */
#about {
  background-color: burlywood;
  padding: 7rem 2rem;
  color: black;
}

#about .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about .about-text {
  grid-column: 2 span;
  text-align: justify;
}

#about .about-text h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.about-author h3 {
  margin-left: 100px;
}

#about h3 {
  margin-bottom: 1rem;
}

#about .about-author ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

#about .about-author ul .author {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

#about .about-author ul img {
  width: 100px;
  border-radius: 50%;
}

.about-techs {
  margin-top: -230px;
  margin-right: -100px;
  margin-bottom: 10px;
}

#about .about-techs ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#about .tech-item {
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  background: #007749;
  border-radius: 0.2rem;
  color: bisque;
}

button:focus {
  outline: none;
}

footer {
  text-align: center;
  background-color: #667eea;
  flex-shrink: 0;
}

@media only screen and (max-width: 680px) {
  .meal-list li {
    width: 100%;
  }
}
